
application-*.properties

# Gradle build directory
/build/

# Gradle wrapper files
/.gradle/
/gradle-wrapper.jar
/gradle-wrapper.properties

# IntelliJ IDEA
.idea/
/*.iml

# Eclipse
/.classpath
/.project
/.settings/

# VS Code
/.vscode/

# Log files
*.log

# Compiled class files
*.class

# Dependency directories
/.mvn/
